---
layout: default
---
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 m10">
            <div class="card">
                <h1 class="card-title"> DONATE </h1>

                <p style="text-align: justify;">
                    Nếu bạn yêu thích những sản phẩm của mình có thể donate cho mình thông qua hình thức chuyển khoản 
                    ngân hàng hoặc <a href="https://paypal.me/dieudev">PayPal</a> nhé. 
                    Cảm ơn bạn đã luôn đồng hành và ủng hộ!
                </p>

                <div class="row">
                    <img class="mx-auto d-block img-thumbnail" src="/assets/img/donate.png" alt="Donate" title="Donate"/>
                </div>
            </div>
        </div>
    </div>
</div>



