---
layout: default
---
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 m10">
            <div class="card">
                <h1 class="card-title text-center"> DONATE </h1>

                <p style="text-align: justify;">
                    Nếu bạn yêu thích những sản phẩm của mình có thể donate cho mình thông qua hình thức chuyển khoản 
                    ngân hàng hoặc <a href="https://paypal.me/dieudev" style="font-weight: bold;">PayPal</a> nhé. 
                    Cảm ơn bạn đã luôn đồng hành và ủng hộ!
                </p>

                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <img class="mx-auto img-thumbnail" src="/assets/img/donate.webp" alt="Donate" title="Donate"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



